@font-face{
    font-family: "Avenir";
    src: url("./fonts/avenirnextltpro-regular.otf");
}

body{
    font-family: Avenir;
}

.square{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: solid grey 1px;
    background-color: white;
}
.speshSquareRow{
    height: 60px;
    width: 120px;
    display: inline-block;
    background-color: white;
    text-align: right;
    padding-right:5px;
    font-size:2em;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}
.speshSquareCol{
    writing-mode: vertical-lr;
    text-orientation: upright;
    height: 120px;
    position:relative;
    width: 60px;
    display: inline-block;
    background-color: white;
    text-align:center;
    font-size:2em;
}
.speshSquareCol span{
    position:absolute;
    bottom:0;
}
.speshSquare{
    height: 120px;
    width: 120px;
    display: inline-block;
    background-color: white;
    
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}
